{% extends "base.html" %}
{% block content %}
<div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <h2 class="text-align-center">
          <strong>Nuestra Historia</strong>
    </h2>
    <div class="text-align">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus suscipit nibh a bibendum hendrerit.
      Aenean vel feugiat nibh. Maecenas at tincidunt erat.

      Morbi a sodales urna, et ultrices est. Duis laoreet enim non dui aliquam aliquam. Cras dictum orci magna,
      sit amet pretium ante pharetra ac. Duis at mauris quis nulla vehicula scelerisque. Fusce in rhoncus augue.
      Nam mattis vehicula lacus, vel dapibus arcu lobortis nec. Sed hendrerit vulputate lorem, non elementum odio.
      Vivamus eget ultricies metus, mattis lobortis tellus. Fusce porta nunc condimentum dapibus bibendum.
      Proin accumsan imperdiet mi et mattis.

      Nulla auctor risus sapien, aliquam condimentum mauris mollis ut. In fermentum tincidunt laoreet. Maecenas
      quis odio ac urna ultrices viverra dignissim at nulla. Donec tincidunt enim sit amet aliquam consectetur.
      Sed euismod, lacus sed lacinia imperdiet, massa arcu dignissim magna, in vehicula elit tellus quis ipsum.
      Nullam consectetur fringilla cursus. In rutrum dictum ligula a eleifend. Aenean sit amet purus neque.
      In vel massa ac leo luctus feugiat sed quis orci. Duis posuere tortor at ex vehicula pharetra.
      Vivamus vitae lorem nisl. Nullam ut lacinia mi. Nunc ultrices tortor leo, eu ornare purus tempor at.
      Fusce bibendum dolor lacinia nunc ultrices tincidunt.
    </div>
  </div>
</div>
{% endblock content %}
